/* 全局css */
#app {
  font-size: 14px;
  max-height: 100vh;
}
//总体样式
.baseStyle {
  width: 100%;
  height: calc(100vh - 50px);
  padding: 20px 16px;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: auto;
  min-width: 800px;
  // box-shadow: 0 0 8px 0 rgba(173, 178, 178, 0.6);
}
// 工具栏的下边距
.mb8 {
  margin-bottom: 8px;
}
// 修改滚动条样式
::-webkit-scrollbar-track-piece {
  background: #edebeb;
}

::-webkit-scrollbar-thumb {
  background: #adadae;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-corner {
  background-color: #edebeb;
}

// 横向滚动条
::-webkit-scrollbar:horizontal {
  height: 10px;
}

// 清除浮动
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* 兼容IE6以及以下 */
.clearfix {
  *zoom: 1;
}
